body{
    background-color: hsl(226, 43%, 10%);
}
.dashboard{
    height: 560px;
    width: 1175px;
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -640px;
    margin-top: -275px;
}
.user-and-menu{
    width: 280px;
    /* border: 2px solid palegreen; */
    height: 100%;
    float: left;
}
.user{
    width: 280px;
    height: 326px;
    border-radius: 5px;
    background-color: hsl(246, 80%, 60%)
}
.avatar{
    height: 65px;
    border: 1px solid white;
    border-radius: 33px;
    margin-top: 96px;
    margin-left: 53px;
}

.first-name{
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: -38px;

}
.last-name{
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-left: -38px;
    margin-top: 0;
}
.report{
    float: bottom;
    text-align: center;
    margin-left: -99px;
    margin-bottom: -22px;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}
.views{
    height: 240px;
    width: 280px;
    border-radius: 5px;
    background-color: hsl(235, 46%, 20%);
    position: absolute;
    bottom: 0;
    z-index: -1;
} 
.view-text{
    font-family: 'Rubik', sans-serif;
    text-align: left;
    margin-left: 54px;
    margin-top: 46px;
    color: white;

}
.activities{
    width: 879px;
    height: 100%;
    float: right;
}
.background-image{
    height: 40px;
    width:  280px;
    box-sizing: border-box;
    border-radius: 5px;
}
.image{
    position: absolute;
    right: 20px;
    height: 43px;
}
.work{
    background-color: hsl(15, 100%, 70%);
}
.play{
    background-color: hsl(195, 74%, 62%)
}
.study{
    background-color: hsl(348, 100%, 68%)
}
.exercise{
    background-color: hsl(145, 58%, 55%)
}
.social{
    background-color: hsl(264, 64%, 52%)
}
.self-care{
    background-color: hsl(43, 84%, 65%)

}
.activity{
    position: relative;
    height: 240px;
    width: 280px;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 10px;
    margin-bottom: 46px;
}

.content {
    height: 240px;
    box-sizing: border-box; 
    position: absolute;
    top: 30px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: hsl(235, 46%, 20%)
}
.attribution{
    bottom: 0;
    position: absolute;
}

